.history-team-champion-icon {
    width: 16px;
}

.history-item {
    width: 64px;
}

.history-summoner-champion-icon {
    width: 92px;
}

.history-team-player {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history-score {
    font-size: 28px;
    line-height: 100px;
}

img.history-summoner-spell {
    width: 44px;
}

.history-item-placeholder {
    width: 64px;
    height: 64px;
}