#blue_team th
{
    background-color: #0381bb;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 50px;
}

#purple_team th
{
    background-color: #814092;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 50px;
}

img.live-game-champion
{
    width: 31%;
}

img.live-game-summoner
{
    width: 15%;
}

img.live-game-rank
{
    display: inline-block;
    width: 48px;
}

span.live-game-rank
{
    display: inline-block;
}

span.live-game-name
{
    overflow: hidden;
}