{% extends 'AppBundle::layout-white-bg.html.twig' %}

{% block title %}{{ 'sitename' | trans }} | {{ 'about_page.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'about_page.title'|trans }}</h1>
    <p>{{ 'about_page.content'|trans }}</p>
{% endblock content %}
