<div class="history-item-placeholder">
    {% if item is not empty %}
        <img class="history-item" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/item/{{ item }}.png">
    {% endif %}
</div>
