<div class="col-md-4">
    {{ currentGame.gameMode }}
</div>
<div class="col-md-4">
    {{ currentGame.mapId }}
</div>
<div class="col-md-4">
    {{ currentGame.gameLength/60 }}:{{ currentGame.gameLength%60 }}
</div>
{% include 'AppBundle:Summoner:_live_game_team_table.html.twig' with {'teamCSSId': 'blue_team', 'players': players.blue, 'bannedChampions': bannedChampions.blue} %}
{% include 'AppBundle:Summoner:_live_game_team_table.html.twig' with {'teamCSSId': 'purple_team', 'players': players.purple, 'bannedChampions': bannedChampions.purple} %}
<script>
    $( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    .relative-container {
        position: relative;
    }

    .overlay {
        position: absolute;
        z-index: 100;
    }

    .masteries-background
    {
        width: 828px;
        height: 479px;
    }

    .masteries
    {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .masteries-off
    {
        filter: grayscale(100%);
    }

    .masteries-rank
    {
        bottom: -15px;
        left: 0;
        color: gold;
        text-align: center;
        width: 50px;
        height: 15px;
        vertical-align: middle;
        background-color: black;
        border: 1px solid gold;
        font-size: 11px;
    }

    /* On ajoute 138px en largeur */
    .masteries-overlay-6111
    {
        top: 10px;
        left: 88px;
    }

    .masteries-overlay-6114
    {
        top: 10px;
        left: 148px;
    }

    .masteries-overlay-6311
    {
        top: 10px;
        left: 364px;
    }

    .masteries-overlay-6312
    {
        top: 10px;
        left: 424px;
    }

    .masteries-overlay-6211
    {
        top: 10px;
        left: 640px;
    }

    .masteries-overlay-6212
    {
        top: 10px;
        left: 700px;
    }

    /* On descends de 80px */
    .masteries-overlay-6121
    {
        top: 90px;
        left: 58px;
    }

    .masteries-overlay-6122
    {
        top: 90px;
        left: 118px;
    }

    .masteries-overlay-6123
    {
        top: 90px;
        left: 178px;
    }

    .masteries-overlay-6321
    {
        top: 90px;
        left: 334px;
    }

    .masteries-overlay-6322
    {
        top: 90px;
        left: 394px;
    }

    .masteries-overlay-6323
    {
        top: 90px;
        left: 454px;
    }

    .masteries-overlay-6221
    {
        top: 90px;
        left: 610px;
    }

    .masteries-overlay-6222
    {
        top: 90px;
        left: 670px;
    }

    .masteries-overlay-6223
    {
        top: 90px;
        left: 730px;
    }

    /* part 2 */
    /* On ajoute 138px en largeur */
    .masteries-overlay-6131
    {
        top: 170px;
        left: 88px;
    }

    .masteries-overlay-6134
    {
        top: 170px;
        left: 148px;
    }

    .masteries-overlay-6331
    {
        top: 170px;
        left: 364px;
    }

    .masteries-overlay-6332
    {
        top: 170px;
        left: 424px;
    }

    .masteries-overlay-6231
    {
        top: 170px;
        left: 640px;
    }

    .masteries-overlay-6232
    {
        top: 170px;
        left: 700px;
    }

    /* On descends de 80px */
    .masteries-overlay-6141
    {
        top: 250px;
        left: 58px;
    }

    .masteries-overlay-6142
    {
        top: 250px;
        left: 118px;
    }

    .masteries-overlay-6143
    {
        top: 250px;
        left: 178px;
    }

    .masteries-overlay-6341
    {
        top: 250px;
        left: 334px;
    }

    .masteries-overlay-6342
    {
        top: 250px;
        left: 394px;
    }

    .masteries-overlay-6343
    {
        top: 250px;
        left: 454px;
    }

    .masteries-overlay-6241
    {
        top: 250px;
        left: 610px;
    }

    .masteries-overlay-6242
    {
        top: 250px;
        left: 670px;
    }

    .masteries-overlay-6243
    {
        top: 250px;
        left: 730px;
    }

    /* part 3 */
    /* On ajoute 138px en largeur */
    .masteries-overlay-6151
    {
        top: 330px;
        left: 88px;
    }

    .masteries-overlay-6154
    {
        top: 330px;
        left: 148px;
    }

    .masteries-overlay-6351
    {
        top: 330px;
        left: 364px;
    }

    .masteries-overlay-6352
    {
        top: 330px;
        left: 424px;
    }

    .masteries-overlay-6251
    {
        top: 330px;
        left: 640px;
    }

    .masteries-overlay-6252
    {
        top: 330px;
        left: 700px;
    }

    /* On descends de 80px */
    .masteries-overlay-6161
    {
        top: 410px;
        left: 58px;
    }

    .masteries-overlay-6162
    {
        top: 410px;
        left: 118px;
    }

    .masteries-overlay-6164
    {
        top: 410px;
        left: 178px;
    }

    .masteries-overlay-6361
    {
        top: 410px;
        left: 334px;
    }

    .masteries-overlay-6362
    {
        top: 410px;
        left: 394px;
    }

    .masteries-overlay-6363
    {
        top: 410px;
        left: 454px;
    }

    .masteries-overlay-6261
    {
        top: 410px;
        left: 610px;
    }

    .masteries-overlay-6262
    {
        top: 410px;
        left: 670px;
    }

    .masteries-overlay-6263
    {
        top: 410px;
        left: 730px;
    }
</style>