{% if linkMessage == 'success' %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ 'summoner.link.success'|trans }}
    </div>
{% elseif linkMessage == 'summoner_not_found' %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ 'summoner.link.not_found'|trans }}
    </div>
{% elseif linkMessage == 'page_not_found' %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ 'summoner.link.page_not_found'|trans }}
    </div>
{% elseif linkMessage == 'already_linked' %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ 'summoner.link.already_linked'|trans }}
    </div>
{% endif %}