parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: onetrickporo
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: xxx
    mailer_password: xxx
    secret: xxx
    static_data_version: 6.24.1
    riot_api_key: xxx