{# Modal choix region #}
<div id="modalChooseRegion" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change region</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="region-div col-md-6">
                        <span class="hidden">euw</span>
                        <div>
                            Europe West
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">kr</span>
                        <div>
                            Korea
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">na</span>
                        <div>
                            North America
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">jp</span>
                        <div>
                            Japan
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">eune</span>
                        <div>
                            Europe Nordic & East
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">oce</span>
                        <div>
                            Oceania
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">br</span>
                        <div>
                            Brazil
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">las</span>
                        <div>
                            Latin America South
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">lan</span>
                        <div>
                            Latin America North
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">ru</span>
                        <div>
                            Russia
                        </div>
                    </div>


                    <div class="region-div col-md-6">
                        <span class="hidden">tr</span>
                        <div>
                            Turkey
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>