body {
    padding-top: 70px;
    background-color: #eee;
    background-image: url('../images/backgrounds/teambuilder-wallpaper.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.white-bg {
    background-color: white;
    padding: 15px;
}

.modal-content {
    border-radius: 0;
}

.btn {
    border-radius: 0
}

.btn-primary {
    background-color: red;
}

.navbar-form .form-control {
    border-radius: 0;
}

.navbar-default {
    background-color: #008cba;
    border-color: #006687;
    background-image: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #006687;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: #006687;
}

.navbar-default .navbar-text a {
    color: darkseagreen;
    font-weight: bold;
}

.navbar-default .navbar-text a:hover, .navbar-default .navbar-text a:active, .navbar-default .navbar-text a:focus {
    text-decoration: none;
}

.positive-color {
    color: #34ba1c;
}

.negative-color {
    color: #ff0000;
}

.region-badge {
    font-size: 20px;
    text-transform: uppercase;
    background-color: #d79922;
    color: #111;
    border-radius: 0;
    margin: 0 10px;
}

button.btn > .loader {
    width: 24px;
    margin: 0 5px;
}

.champion-mastery-level-icon {
    width: 100px;
}

.champion-mastery-div {
    height: 320px;
}

.region-div > div {
    background: aliceblue;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
}

.region-div {
    padding: 5px;
    line-height: 50px;
}

@media (max-width: 767px) {
    .navbar-form {
        width: 100%;
        margin: 0 auto;
    }
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -411px;
    /* Pad bottom by footer height */
    padding: 0 0 411px;
}

/* 350 + 41 +20 */

/* Set the fixed height of the footer here */
#footer {
    height: 350px;
    min-height: 350px;
    margin-bottom: 0;
    margin-top: 20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-text {
    height: 55px;
    line-height: 27px;
}

figcaption {
    position: absolute;
    bottom: -1px;
    color: white;
    font-size: 15px;
    background: black;
    color: gold;
    border: 1px solid gold;
    padding: 5px;
    width: 30px;
    height: 30px;
    right: 37px;
}

figure {
    position: relative;
}