{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'search.page.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                {{ 'lookup.error.summoner_not_registered'|trans }}
            </div>
        </div>
    </div>
{% endblock content %}
