{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'search.page.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                Erreur, vous devez vous connecter pour utiliser cette fonctionnalité
            </div></div></div>
{% endblock content %}
